<section class="h-100 gradient-form" style="background-color: #e45353;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img src=""
                      style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">Experience</h4>
                  </div>

                  <div class="form-group" *ngIf="iduser !=null && etape==1">
                                <!--Choisir ville-->
                                  <form  [formGroup]="villeForm" (ngSubmit)="validerVille()">
                                    <div class="form-group">
                                      <label>Selectionnez une ville </label>
                                      <select class="form-select mb-3 " aria-label=".form-select-lg example"
                                        formControlName="Ville">
                                        <option *ngFor="let v of villes$ | async" [ngValue]="v">{{v.nom}}</option>
                                      </select>
                                      
                                      <button type="submit" class="btn btn-primary">Valider</button>
                                    </div>
                                    </form>
                                    <label>Ou entrez une autre ville :</label>
                                    <button class="btn btn-primary btn-sm" (click)="creerVille()">Creer une nouvelle ville</button>
                                    
                                    <div *ngIf="creerVill">
                                      <app-formulaire-ville></app-formulaire-ville>
                                    </div>
                                    <!-- -->
                    </div>
                    <div *ngIf="iduser !=null && etape==2">
                        <form [formGroup]="experienceForm1" (ngSubmit)="validExp()" >

                            
                            <br>
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                                <textarea class="form-control" id="description" formControlName="description" rows="3" placeholder="Entrez cotre description, les choses qui vous ont marqué pendant ce voyage"></textarea>
                            </div>


                            <div class="form-group">
                              <label>Ajoutez une photo (lien)</label> <br>
                              <input type="text" formControlName="photo" class="photo" id="photo" >
                          </div>
                            
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Notez votre experience sur 5:</label>
                                <select class="form-control"  id="rating_moyen" formControlName="rating_moyen">
                                <option ngValue="1">1</option>
                                <option ngValue="2">2</option>
                                <option ngValue="3">3</option>
                                <option ngValue="4">4</option>
                                <option ngValue="5">5</option>
                                </select>
                            </div>

                            
                            

                            <br> <br>

                          <button class="btn btn-primary" type="submit">Valider</button>
                        </form>
                        <button class="btn btn-primary" (click)="retour()">Retour</button>
                      </div>
                        

                      <div *ngIf="iduser !=null && etape==3">
                        <form [formGroup]="restaurantForm" (ngSubmit)="validerResto()" >
                          <label>Restaurant(s)</label>
                          <select  multiple class="form-control"  id="rating_moyen" formControlName="listeRestaurant">
                            <option *ngFor="let r of listeResto$ | async" [ngValue]="r">
                              {{r.nom}}
                            </option>
                            </select>

                            <button type="button" (click)="creerResto()">Creer un nouveau restaurant</button>
                                    
                                    <div *ngIf="creerRest">
                                      <app-restaurant></app-restaurant>
                                    </div>
                          

                          <button type="submit">Valider</button>
                        </form>
                        <button (click)="retour()">Retour</button>
                      </div>


                      <div *ngIf="iduser !=null && etape==4">
                        <form [formGroup]="lieuxForm" (ngSubmit)="validerLieux()" >
                          <label>Lieux visités</label>
                          <select  multiple class="form-control"  id="rating_moyen" formControlName="listeLieux">
                            <option *ngFor="let l of listeLieux$ | async" [ngValue]="l">
                              {{l.nom_L}}
                            </option>
                            </select>

                            <button type="button" (click)="creerLieux()">Creer un nouveau lieux</button>
                                    
                                    <div *ngIf="creerLieu">
                                      <app-formulaire-lieux></app-formulaire-lieux>
                                    </div>
                          

                          <button type="submit">Valider</button>
                        </form>
                        <button (click)="retour()">Retour</button>
                      </div>

                        
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  
                  <img src="https://www.destinationanalysts.com/wp-content/uploads/2022/09/rsz_1shutterstock_125231870.jpg"
                  style="width: 110%;"  alt="logo">
                  
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
