<select class="form-select" aria-label="Default select example" >
  <option selected>Selectionnez une ville</option>
  <option *ngFor="let v of listeV$ | async " [ngValue]="v" (click)="villeselectionne(v)">{{v.nom}}</option>
</select>
  <table class="table">
    <thead>

      <tr>
        <th scope="col">Id</th>
        <th scope="col">Contenu</th> 
        <th scope="col">Ville</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let g of listeG$ | async">
        <th scope="row">{{g.id_guide}}</th>
        <td>{{g.contenu}}</td>
        
        <td><button (click)="update(g.id_guide)">update</button></td>
        <td><button (click)="supprimer(g.id_guide)">Supprimer</button></td>
        
        <td></td>
      </tr>
      
      
    </tbody>
    
    <tbody>  
        <tr *ngFor="let g of listeG$ | async">
          <th scope="row">{{g.id_guide}}</th>
          <td>{{g.contenu}}</td>
          <td><button (click)="supprimer(g.id_guide)">Supprimer</button></td>   
        </tr>
      </tbody>   
    
  </table>
  

