
<form [formGroup]="guideForm" (ngSubmit)="saveGuide()"> 
    <div class="form-group">
        <label>Selectionnez une ville </label>
        <select class="form-select mb-3 " aria-label=".form-select-lg example" >
            
            <option *ngFor="let ville of listeV$ | async" [value]="ville.id_ville">{{ville.nom}}</option>
            <option value="3">Autre ville</option>
        </select>
      <label>Inscrivez votre contenu ici :</label>
      <input type="text" formControlName="contenu" class="form-control" id="contenu" >
    <button type="submit" class="btn btn-primary" >Submit</button>
    </div>
    </form>