<div class="text-center">
  <img src="/ProjetFinalP2/images/logo.jfif" style=" width: 185px;" alt="logo">
  <h4 class="mt-1 mb-5 pb-1">Lieu visité</h4>
</div>
<form [formGroup]="lieuxForm" >
  <div class="form-group">
    <label>Nom</label>
    <input type="text" formControlName="nom_L" class="form-control" id="nom_L">
  </div>
  <div class="col-md-6 mb-4 ">
    <div class="input-group form-outline ">
      <div id="prix">
        <input type="number" formControlName="prix_L" id="form3Example1" class="form-control" />
        <span class="input-group-text" id="basic-addon2">€</span>
      </div>
      <label class="form-label" for="form3Example1">Prix de l'entrée</label>
    </div>
  </div>

  <div id="ville" class="form-floating">
    <select class="form-select" id="floatingSelect" formControlName="ville" aria-label="Floating label select example">
      <option selected>Selectionnez la ville</option>
      <option *ngFor="let v of listeVille | async" [ngValue]="v">{{v.nom}}</option>

    </select>
    <label for="floatingSelect">Ville</label>
  </div>

  <div class="text-center pt-1 mb-5 pb-1">
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit"
      (click)="saveLieux()">Enregistrer le lieux</button>
  </div>
</form>


