<h2></h2>
<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
  <input type="radio" class="btn-check" name="btnradio" id="btnradio1" (Click)="afficherE()" autocomplete="off" checked>
  <label class="btn btn-outline-primary" for="btnradio1">Experience</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio2" (Click)="afficherT()" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio2">Trajet et Compagnie</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio3" (Click)="afficherA()" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio3">Activités</label>

</div>

<!-- <div [hidden]="cacher()">
  <p>kzneffMZ</p>
</div> -->
